[Unit]
Description=Chronograph Webserver

[Service]
User={{ deploy_user }}
Group={{ deploy_group }}
ExecStart=java -jar {{ deploy_chronograph_jar }} -sf {{ deploy_chronograph_config }}

[Install]
WantedBy=multi-user.target
